*.class
*.swp
target
docs

# Project files
.idea
.settings
.classpath
.project
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp

# Package Files #
*.jar
*.war
*.ear

# MacOS
.DS_Store
Icon?
*.swp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
